In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')
df

,ticker,timestamp,open,high,low,close,volume,year,quarter,ema20,...,chage_of_charactor,ob,ob_volume,liquidity,stoch,stoch_signal,adx,supertrend,supertrend_hband,supertrend_lband
0,KTT,2022-09-05 00:00,9000.0,9000.0,9000.0,9000.0,0.0,2022,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KTT,2022-09-06 00:00,9200.0,9200.0,9200.0,9200.0,300.0,2022,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KTT,2022-09-07 00:00,8800.0,9200.0,8400.0,9200.0,2400.0,2022,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KTT,2022-09-08 00:00,9200.0,9200.0,9200.0,9200.0,0.0,2022,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KTT,2022-09-09 00:00,9200.0,9200.0,9200.0,9200.0,0.0,2022,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157966,VAF,2025-08-25 00:00,18050.0,18900.0,18050.0,18900.0,4201.0,2025,3,19328.775468,...,NaN,NaN,NaN,NaN,40.476190,36.630952,37.805278,20455.186461,20455.186461,16494.813539
1157967,VAF,2025-08-26 00:00,18500.0,18900.0,18050.0,18050.0,1000.0,2025,3,19206.987328,...,NaN,NaN,NaN,NaN,0.000000,25.297619,38.217511,20495.887428,20495.887428,16454.112572
1157968,VAF,2025-08-27 00:00,18800.0,18800.0,18050.0,18050.0,6411.0,2025,3,19096.798058,...,NaN,NaN,NaN,NaN,0.000000,13.492063,38.600300,20462.252612,20462.252612,16387.747388
1157969,VAF,2025-08-28 00:00,18900.0,18900.0,18850.0,18900.0,300.0,2025,3,19078.055386,...,NaN,NaN,NaN,NaN,40.476190,13.492063,38.720640,20948.877425,20948.877425,16801.122575
1157970,VAF,2025-08-29 00:00,18800.0,19000.0,18800.0,19000.0,241.0,2025,3,19070.621540,...,NaN,NaN,NaN,NaN,45.238095,28.571429,38.590958,20868.600466,20868.600466,16931.399534

In [5]:
df.shape

(1157971, 45)